<div id="app"></div>

<!-- Script to search for a song -->
<script id="appView" type="text/template">
  <div class="container">
    <h2>BandWiki</h2>
    <div id="search"></div>
    <div id="searchList"></div>
    <div id="bandInfo"></div>
    <div id="player"></div>
    <div id="edit"></div>
  </div>
</script>

<script id="searchView" type="text/template">
  <form action="">
    <label>Artist</label>
    <input type="text" id="searchItem">
    <button id="SCSearch">Search for an artist!</button>
  </form>
</script>

<script id="searchListView" type="text/template">
  <ul id="songList">
  </ul>
</script>

<script id="bandInfoView" type="text/template">
  <h2 id="bandName"></h2>
  <h2 id="bandCountry"></h2>
  <p id="bandBio"></p>
</script>

<script id="editBandView" type="text/template">
  <div id="editForm" class="froala-view">
    <form action="">
      <label>Bio</label>
      <button id="editClose">edit</button>
    </form>
  </div>
</script>
