<div id="app"></div>

<!-- Script to search for a song -->
<script id="appView" type="text/template">
  <div class="container">
    <h2>BandWiki</h2>
    <div id="search"></div>
    <div id="searchList"></div>
    <div id="bandInfo"></div>
    <div id="player"></div>
  </div>
</script>

<script id="searchView" type="text/template">
  <form action="">
    <label>Song</label>
    <input type="text" id="searchItem">
    <button id="SCSearch">Search!</button>
  </form>
</script>
