<div id="app"></div>

<!-- Script to search for a song -->
<script id="appView" type="text/template">
  <div class="container" class="row">
  <div id="headerContainer" class="col-xs-12">
    <h2 id="mainHeader">Band Wiki</h2>
    <h3 id="mainHeadTag">Community driven music!</h3>
  </div>
    <div id="search" class="col-xs-12"></div>
    <div id="searchList" class="col-xs-6"></div>
    <div id="bandInfo" class="col-xs-6"></div>
    <div id="edit" class="col-xs-12"></div>
    <div id="player" class="col-xs-12"></div>
  </div>
</script>

<script id="searchView" type="text/template">
  <form action="" class="row">
    <input type="text" id="searchItem" class="col-xs-12" placeholder="Search for an artist">
    <button id="SCSearch" class="col-xs-12">Find em!</button>
  </form>
</script>

<script id="searchListView" type="text/template">
  <ul id="songList" class="row">
  </ul>
</script>

<script id="bandInfoView" type="text/template">
  <button id='ASbutton'>Play some tunes!</button>
  <h2 id="nameHead">Band:</h2>
  <h2 id="bandName"></h2>
  <h2 id="contHead">Country:</h2>
  <h2 id="bandCountry"></h2>
  <h2 id="bioHead">Bio:</h2>
  <p id="bandBio"></p>
</script>

<script id="editBandView" type="text/template">
  <div id="editForm" class="froala-view">
    <form action="">
      <label>Bio</label>
      <button id="editBio">Edit Bio</button>
      <button id="editCountry">Edit Country</button>
      <button id="editName">Edit Name</button>
      <button id="editClose">Close</button>
    </form>
  </div>
</script>
